/* html, */
body {
	margin: 0 auto;
	top: 0;
	left: 0;
  overflow-x: hidden;
}

.navigation {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
}

.nav-brand {
  display: inline-block;
  margin-top: 40px;
}

.brand-title {
  color: #FFF;
  float: right;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 34px;
}

.menu {

}

#nav-menu {
    display: inline-block;
    margin-top: 70px;
}

#nav-menu > a {
    display: none;

}
#nav-menu li {
    position: relative;
    display: block;
}
 
#nav-menu > ul > li {
    float: left;
    padding-right: 20px;
}

#nav-menu > ul > li > a {
    text-transform: capitalize;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 14px;
}

#nav-menu > ul > li > a:hover {
   color: #c7b299;
}

.btns {
  list-style-type: none;
  margin-top: 65px;
}

.btns > li {
  float: left;
  padding-right: 20px;
  color: #FFF;
  cursor: pointer;
}

.btns > li:hover {
  color: lightblue;
}

@media only screen and ( max-width: 767px ) /* 640 */ {
  
   /*  .nav-brand {
      margin-top: 40px;
      margin-left: 160px;
    }
 */
    #nav-menu {
      position: relative;
      display: block;
      /* margin-left: 25px;
      margin-top: -50px; */
    }
            
    #nav-menu:not( :target ) > a:first-of-type,
    #nav-menu:target > a:last-of-type {
        display: block;
    }
     
    #nav-menu > ul {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }

    #nav-menu:target > ul {
        display: block;
    }
    #nav-menu > ul > li {
        width: 100%;
        float: none;
    }
     
    #nav-menu li ul {
        position: static;
    }

    /* .btns > li {
      padding-left: 280px;
      margin-top: -95px;
    } */
}

.carousel-caption {
    top: 30%;
    bottom: auto;
}

h1.text-medium {
	font-family: 'Raleway', sans-serif;
}

p.text-big {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 52px;
}

p.text-small {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	padding-bottom: 45px;
}

.btn-slider {
	padding: 21px 37px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #FFF;
  background: #998675;
}

.services {
	padding-top: 73px;
}

.service-title {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 600;
	color: #555555;
}

.service-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #8c8c8c;
	padding-bottom: 20px;
	line-height: 20px;
}

.separator > hr {
	width: 70px;
	border: 2px solid #f1eee9;
}

.realization {
  margin-top: 60px;
  padding-top: 60px;
  max-width: 100%;
  height: 700px;
  background-color: #fbfaf8;
}

.realization-title {

  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #555555;
}

.realization-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #8c8c8c;
  padding-bottom: 20px;
  line-height: 20px;
}

.carousel-2 {
  padding-left: 120px;
  background-color: #fbfaf8;

}

ul.carousel > li {
  width: 770px;
  height: auto;
  background: #333;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}

.items {
  position: absolute;
}

.main-pos {
  margin-left: 2em !important;
  z-index: 3000;

}

.left-pos {
  opacity: .3;
  margin-left: -17em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.back-pos {
  margin-left: 2em !important;
  opacity: .05;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  transform: scale(.5);
}

.right-pos {
  opacity: .3;
  margin-left:  21em !important;
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}



.thanks {
  max-width: 100%;
  height: 150px;
  background: linear-gradient(to right, #211b1a, #4e3427);
}

.thanks-title {
  padding-top: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #FFF;  
}

.thanks-title > .color {
  color: #c7b299;
}

.thanks-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #5e5552;
  padding-bottom: 20px;
  line-height: 20px;
}

.thanks-wrap {
  display: inline-block;
}

.btn-thanks {
  margin-top: 50px;
  padding: 21px 37px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #FFF;
  background: #998675;
}

.project {
  max-width: 100%;
  height: auto;
}

.proj-title {
  padding-top: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #555555;  
}

.proj-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #8c8c8c;
  padding-bottom: 20px;
  line-height: 25px;
}


.sort {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lg {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #555555;
  background: #FFF;
}

.lg:hover {
  cursor: pointer;
  background: #998675;
  color: #FFF;
}

.act {
  background: #998675;
  color: #FFF;
}

.proj {
  margin-top: 40px;
}

.proj-content {
  background-color: #fbfaf8;
  padding-left: 29px;
}

.proj-content::after {
  content: ''; 
  position: absolute; /* Абсолютное позиционирование */
  bottom: 107px; /* Положение треугольника */
  border: 20px solid transparent; /* Прозрачные границы */
  border-bottom: 20px solid #fbfaf8; /* Добавляем треугольник */
}

.projects-title,
.projects-text {
  margin: 0;
}

.projects-title {
  padding-top: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #998675;
}

.projects-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #d1d1d1;
  font-size: 14px;
  line-height: 2em;
  padding-bottom: 27px;
}

.proj-img {
  overflow: hidden;
}

.proj-btn {
  margin-top: 40px;
  margin-bottom: 80px;
}

.presentation {
  background-image: url('../img/present.jpg'); 
  background-repeat: no-repeat;
  height: auto;
  max-width: 100%;
}

.pres-title {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #FFF;
  margin-top: 44px;
  margin-bottom: 20px;
}

.pres-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #FFF;
  line-height: 25px;
}

.pres-time {
  margin-top: 43px;
  margin-bottom: 180px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #998675;
}

.play {
  display: inline-block;
  margin-top: 210px;
  margin-left: 520px;
}

.mobile {
  height: auto;
  width: 1349px;
  max-width: 100%;
}

img.mob {
  margin-top: 80px;
}

.mob-title {
  margin-top: 190px;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
}

.mob-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #8c8c8c;
  line-height: 25px;
  margin-bottom: 35px;
}

.feat {
  padding-left: 50px;
}

.feat > i {
  padding-bottom: 15px;
  font-size: 20px;
}

.pl30 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #8c8c8c;
  padding-left: 20px;
}

.counter {
  max-width: 100%;
  height: auto;
  background: linear-gradient(to right, #211b1a, #4e3427);
}

.counter-content {
  padding-top: 60px;
  padding-bottom: 30px;
}

.color {
  color: #c7b299;
}

.numb {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 48px;
  color: #FFF;
  margin-top: 20px;
}

.content-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}

.line {
  width: 30px;
}

.partner {
  background-image: url('../img/partners.png');
}

.partner-img1,
.partner-img3 {
  padding-top: 100px;
}
.partner-img {
  padding-top: 60px;
  padding-bottom: 60px;
}

.partner-img4 {
  padding-top: 80px;
}

.footer {
  background-color: #191919;
  padding-bottom: 80px;
}

.about-logo {
  margin-top: 60px;
  margin-bottom: 25px;
}

.about-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #555555;
  line-height: 25px;
}

.about-btn {
  background: none;
  border: none;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 13px;
}

.resent-posts, 
.twitter,
.widget {
  margin-top: 90px;
}

.posts-title,
.twitter-title,
.widget-title {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #FFF;
  margin-bottom: 20px;
}

.posts-calendar {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 11px;
  color: #363636;
  margin-bottom: 5px;
}

.posts-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #555555;
}

.posts-line {
  border-color: #252525;
}

.posts-calendar_color {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 11px;
  color: #FFF;
  margin-bottom: 5px;
}

.posts-text_color {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #c7b299;
}

.twit-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 5px;
  color: #555555;
}

.twit-time {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 11px;
  color: #363636;
}

.twit-link {
  color: #959595;
}

.copy {
  max-width: 100%;
  background-color: #111111;
}

.footer-nav {
  padding-top: 46px;
  padding-bottom: 55px;
}

.footer-nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

.footer-nav > ul > li {
  float: left;
  padding: 0px 2px;

}

.footer-nav > ul > li > a {
  color: #555555;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 13px;
}

li > a > span.white {
  color: #FFF;
}

li > a > span.orange {
  color: #c7b299;
}

.text-right {
  float: right;
}